<div class="container">
    <div class="row">
        <div class="col text-center">
            <img 
                src="/img/dian.jpg" 
                alt="Yoka" 
                class="img-thumbnail rounded-circle"
                width="200"
            >
            <h1 class="display-4">Yoka Angga Prawira</h1>
            <p class="lead">Dosen | Manusia Salmon</p>
        </div>
    </div>
</div>